<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">

    <div class="flex justify-between w-full">

      <div class="flex">
        <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
        <h1 class="example-app-name">Mandiri</h1>
      </div>

      <div class="flex flex-wrap">
        <div class="w-162 px-4">
          <div class="relative inline-flex align-middle w-full">
            <button
              type="button"
              (click)="toggleDropdown($event)"
              #btnDropdownRef
            >
              <span class="sr-only">Open user menu</span>
              <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            </button>
          </div>
        </div>
      </div>

    </div>

    <div class="z-50" style="min-width: 12rem" #popoverDropdownRef>
      <div
        class="bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1"
        style="min-width: 12rem"
        [ngClass]="dropdownPopoverShow ? 'block' : 'hidden'"
      >
        <a
          (click)="logOut()"
          class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent  text-slate-700"
        >
          Log Out
        </a>
      </div>
    </div>

  </mat-toolbar>


  <mat-sidenav-container class="example-sidenav-container"
                          [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                  [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <ng-content></ng-content>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
