<app-template>

  <div class="mb-4 sm:w-1/2 sm:m-auto sm:my-4 m-4 pb-4 bg-white p-4">
    <!-- <form> -->
    <form [formGroup]="formEmployee" class="space-y-6" (ngSubmit)="onSubmit(formEmployee)">
      <div class="space-y-12">
        <div class="border-b border-gray-900/10 pb-12">
          <div class="flex">
            <!-- <mat-icon aria-hidden="false" aria-label="Back icon" fontIcon="home"></mat-icon> -->
            <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
            <!-- <mat-icon>keyboard_backspace</mat-icon> -->
            <button mat-icon-button style="margin-right: 7px" (click)="cancel()"><mat-icon color="primary">keyboard_backspace</mat-icon></button>

            <h2 class="text-base font-semibold leading-7 text-gray-900" style="margin: 0; line-height: 40px;">{{ id ? 'Edit' : 'Add' }} Employee</h2>
          </div>

          <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
            <mat-form-field class="col-span-full" appearance="outline">
              <mat-label>Username</mat-label>
              <input formControlName="username" autocomplete="off" matInput class="block w-full rounded-2xl" required />
              <mat-error> Please input username </mat-error>
            </mat-form-field>

            <mat-form-field class="sm:col-span-3" appearance="outline">
              <mat-label>Fisrt Name</mat-label>
              <input formControlName="firstName" autocomplete="off" matInput class="block w-full rounded-2xl" required />
              <mat-error> Please input first name </mat-error>
            </mat-form-field>

            <mat-form-field class="sm:col-span-3" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input formControlName="lastName" autocomplete="off" matInput class="block w-full rounded-2xl" required />
              <mat-error> Please input last name </mat-error>
            </mat-form-field>

            <mat-form-field class="col-span-full" appearance="outline">
              <mat-label>Email</mat-label>
              <input formControlName="email" autocomplete="off" matInput class="block w-full rounded-2xl" required />
              <mat-error *ngIf="formEmployee.get('email')?.hasError('required')"> Please input email </mat-error>
              <mat-error *ngIf="formEmployee.get('email')?.hasError('email') && !formEmployee.get('email')?.hasError('required')">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>

            <mat-form-field class="col-span-full flex" appearance="outline">
              <mat-label>Birth Date</mat-label>
              <!-- <input formControlName="birthDate" type="date" matInput class="block w-full rounded-2xl" required /> -->

              <div class="flex">
                <input matInput formControlName="birthDate" [matDatepicker]="picker" [max]="today" required>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </div>
              <mat-hint>MM/DD/YYYY</mat-hint>

              <mat-error> Please input birth date </mat-error>
              <mat-error *ngIf="formEmployee.get('birthDate')?.hasError('matDatepickerMax')">Date should be inferior</mat-error>
            </mat-form-field>


            <mat-form-field class="col-span-full" appearance="outline">
              <mat-label>Basic Salary</mat-label>
              <input formControlName="basicSalary" autocomplete="off" matInput currencyMask [options]="{ prefix: 'Rp ' }" class="block w-full rounded-2xl" required />
              <mat-error> Please input basic salary</mat-error>
            </mat-form-field>

            <mat-form-field class="col-span-full" appearance="outline">
              <mat-label>Status</mat-label>
              <input formControlName="status" autocomplete="off" matInput class="block w-full rounded-2xl" required />
              <mat-error> Please input status</mat-error>
            </mat-form-field>

            <mat-form-field class="col-span-full" appearance="outline">
              <mat-label>Group</mat-label>
              <input formControlName="group" [formControl]="myControl" [matAutocomplete]="group" matInput class="block w-full rounded-2xl" required />

              <mat-autocomplete #group="matAutocomplete">
                <mat-option *ngFor="let group of filteredGroup | async" [value]="group.id">
                  {{group.name}}
                </mat-option>
              </mat-autocomplete>
              <mat-error> Please input group</mat-error>
            </mat-form-field>

            <mat-form-field class="col-span-full" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea formControlName="description" autocomplete="off" matInput class="block w-full rounded-2xl" required></textarea>
              <mat-error> Please input description</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="button" (click)="cancel()" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
        <button mat-raised-button [disabled]="formEmployee.invalid" color="primary">Save</button>
      </div>
    </form>
  </div>

</app-template>
